<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.nanguo.lemall.business.admin.order.mapper.OmsOrderMapper">
    <resultMap id="BaseResultMap" type="org.nanguo.lemall.common.entity.OmsOrder">
        <!--@mbg.generated-->
        <!--@Table oms_order-->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="member_id" jdbcType="BIGINT" property="memberId"/>
        <result column="coupon_id" jdbcType="BIGINT" property="couponId"/>
        <result column="order_sn" jdbcType="VARCHAR" property="orderSn"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="member_username" jdbcType="VARCHAR" property="memberUsername"/>
        <result column="total_amount" jdbcType="DECIMAL" property="totalAmount"/>
        <result column="pay_amount" jdbcType="DECIMAL" property="payAmount"/>
        <result column="freight_amount" jdbcType="DECIMAL" property="freightAmount"/>
        <result column="promotion_amount" jdbcType="DECIMAL" property="promotionAmount"/>
        <result column="integration_amount" jdbcType="DECIMAL" property="integrationAmount"/>
        <result column="coupon_amount" jdbcType="DECIMAL" property="couponAmount"/>
        <result column="discount_amount" jdbcType="DECIMAL" property="discountAmount"/>
        <result column="pay_type" jdbcType="INTEGER" property="payType"/>
        <result column="source_type" jdbcType="INTEGER" property="sourceType"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="order_type" jdbcType="INTEGER" property="orderType"/>
        <result column="delivery_company" jdbcType="VARCHAR" property="deliveryCompany"/>
        <result column="delivery_sn" jdbcType="VARCHAR" property="deliverySn"/>
        <result column="auto_confirm_day" jdbcType="INTEGER" property="autoConfirmDay"/>
        <result column="integration" jdbcType="INTEGER" property="integration"/>
        <result column="growth" jdbcType="INTEGER" property="growth"/>
        <result column="promotion_info" jdbcType="VARCHAR" property="promotionInfo"/>
        <result column="bill_type" jdbcType="INTEGER" property="billType"/>
        <result column="bill_header" jdbcType="VARCHAR" property="billHeader"/>
        <result column="bill_content" jdbcType="VARCHAR" property="billContent"/>
        <result column="bill_receiver_phone" jdbcType="VARCHAR" property="billReceiverPhone"/>
        <result column="bill_receiver_email" jdbcType="VARCHAR" property="billReceiverEmail"/>
        <result column="receiver_name" jdbcType="VARCHAR" property="receiverName"/>
        <result column="receiver_phone" jdbcType="VARCHAR" property="receiverPhone"/>
        <result column="receiver_post_code" jdbcType="VARCHAR" property="receiverPostCode"/>
        <result column="receiver_province" jdbcType="VARCHAR" property="receiverProvince"/>
        <result column="receiver_city" jdbcType="VARCHAR" property="receiverCity"/>
        <result column="receiver_region" jdbcType="VARCHAR" property="receiverRegion"/>
        <result column="receiver_detail_address" jdbcType="VARCHAR" property="receiverDetailAddress"/>
        <result column="note" jdbcType="VARCHAR" property="note"/>
        <result column="confirm_status" jdbcType="INTEGER" property="confirmStatus"/>
        <result column="delete_status" jdbcType="INTEGER" property="deleteStatus"/>
        <result column="use_integration" jdbcType="INTEGER" property="useIntegration"/>
        <result column="payment_time" jdbcType="TIMESTAMP" property="paymentTime"/>
        <result column="delivery_time" jdbcType="TIMESTAMP" property="deliveryTime"/>
        <result column="receive_time" jdbcType="TIMESTAMP" property="receiveTime"/>
        <result column="comment_time" jdbcType="TIMESTAMP" property="commentTime"/>
        <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime"/>
    </resultMap>

    <resultMap id="orderDetailResultMap" type="org.nanguo.lemall.business.admin.order.dto.response.OmsOrderDetailResponseDTO" extends="BaseResultMap">
        <collection property="orderItemList" resultMap="org.nanguo.lemall.business.admin.order.mapper.OmsOrderItemMapper.BaseResultMap" columnPrefix="item_"/>
        <collection property="historyList" resultMap="org.nanguo.lemall.business.admin.order.mapper.OmsOrderOperateHistoryMapper.BaseResultMap" columnPrefix="history_"/>
    </resultMap>

    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id,
        member_id,
        coupon_id,
        order_sn,
        create_time,
        member_username,
        total_amount,
        pay_amount,
        freight_amount,
        promotion_amount,
        integration_amount,
        coupon_amount,
        discount_amount,
        pay_type,
        source_type,
        `status`,
        order_type,
        delivery_company,
        delivery_sn,
        auto_confirm_day,
        integration,
        growth,
        promotion_info,
        bill_type,
        bill_header,
        bill_content,
        bill_receiver_phone,
        bill_receiver_email,
        receiver_name,
        receiver_phone,
        receiver_post_code,
        receiver_province,
        receiver_city,
        receiver_region,
        receiver_detail_address,
        note,
        confirm_status,
        delete_status,
        use_integration,
        payment_time,
        delivery_time,
        receive_time,
        comment_time,
        modify_time
    </sql>

    <update id="delivery">
        UPDATE oms_order
        SET
        delivery_sn = CASE id
        <foreach collection="list" item="item">
            WHEN #{item.orderId} THEN #{item.deliverySn}
        </foreach>
        END,
        delivery_company = CASE id
        <foreach collection="list" item="item">
            WHEN #{item.orderId} THEN #{item.deliveryCompany}
        </foreach>
        END,
        delivery_time = CASE id
        <foreach collection="list" item="item">
            WHEN #{item.orderId} THEN now()
        </foreach>
        END,
        `status` = CASE id
        <foreach collection="list" item="item">
            WHEN #{item.orderId} THEN 2
        </foreach>
        END
        WHERE
        id IN
        <foreach collection="list" item="item" separator="," open="(" close=")">
            #{item.orderId}
        </foreach>
        AND `status` = 1
    </update>

    <select id="getDetail" resultMap="orderDetailResultMap">
        SELECT o.*,
               oi.id               as item_id,
               oi.product_id       as item_product_id,
               oi.product_sn       as item_product_sn,
               oi.product_pic      as item_product_pic,
               oi.product_name     as item_product_name,
               oi.product_brand    as item_product_brand,
               oi.product_price    as item_product_price,
               oi.product_quantity as item_product_quantity,
               oi.product_attr     as item_product_attr,
               oh.id               as history_id,
               oh.operate_man      as history_operate_man,
               oh.create_time      as history_create_time,
               oh.order_status     as history_order_status,
               oh.note             as history_note
        FROM oms_order o
                 LEFT JOIN oms_order_item oi ON o.id = oi.order_id
                 LEFT JOIN oms_order_operate_history oh ON o.id = oh.order_id
        WHERE o.id = #{id}
        ORDER BY oi.id ASC, oh.create_time DESC
    </select>
</mapper>