<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zhuyuqinlan.lemall.business.admin.order.mapper.OmsOrderSettingMapper">
  <resultMap id="BaseResultMap" type="org.zhuyuqinlan.lemall.common.entity.OmsOrderSetting">
    <!--@mbg.generated-->
    <!--@Table oms_order_setting-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="flash_order_overtime" jdbcType="INTEGER" property="flashOrderOvertime" />
    <result column="normal_order_overtime" jdbcType="INTEGER" property="normalOrderOvertime" />
    <result column="confirm_overtime" jdbcType="INTEGER" property="confirmOvertime" />
    <result column="finish_overtime" jdbcType="INTEGER" property="finishOvertime" />
    <result column="comment_overtime" jdbcType="INTEGER" property="commentOvertime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, flash_order_overtime, normal_order_overtime, confirm_overtime, finish_overtime, 
    comment_overtime
  </sql>
</mapper>