<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zhuyuqinlan.lemall.common.mapper.UmsResourceMapper">
  <resultMap id="BaseResultMap" type="org.zhuyuqinlan.lemall.common.entity.UmsResource">
    <!--@mbg.generated-->
    <!--@Table ums_resource-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="category_id" jdbcType="BIGINT" property="categoryId" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, create_time, `name`, url, description, category_id, update_time
  </sql>


</mapper>