<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.nanguo.lemall.business.admin.product.mapper.PmsProductCategoryAttributeRelationMapper">
  <resultMap id="BaseResultMap" type="org.nanguo.lemall.common.entity.PmsProductCategoryAttributeRelation">
    <!--@mbg.generated-->
    <!--@Table pms_product_category_attribute_relation-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="product_category_id" jdbcType="BIGINT" property="productCategoryId" />
    <result column="product_attribute_id" jdbcType="BIGINT" property="productAttributeId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, product_category_id, product_attribute_id
  </sql>
</mapper>