<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.nanguo.lemall.business.admin.system.mapper.UmsAdminMapper">
    <resultMap id="BaseResultMap" type="org.nanguo.lemall.common.entity.UmsAdmin">
        <!--@mbg.generated-->
        <!--@Table ums_admin-->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="icon" jdbcType="VARCHAR" property="icon"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="nick_name" jdbcType="VARCHAR" property="nickName"/>
        <result column="note" jdbcType="VARCHAR" property="note"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="login_time" jdbcType="TIMESTAMP" property="loginTime"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id,
        username,
        `password`,
        icon,
        email,
        nick_name,
        note,
        create_time,
        login_time,
        `status`
    </sql>

    <select id="getResourceList" resultType="org.nanguo.lemall.common.entity.UmsResource">
        SELECT DISTINCT ur.id          as id,
                        ur.create_time as createTime,
                        ur.`name`      as `name`,
                        ur.url         as url,
                        ur.description as description,
                        ur.category_id as categoryId
        FROM ums_admin_role_relation ar
                 LEFT JOIN ums_role r ON ar.role_id = r.id
                 LEFT JOIN ums_role_resource_relation rrr ON r.id = rrr.role_id
                 LEFT JOIN ums_resource ur ON ur.id = rrr.resource_id
        WHERE ar.admin_id = #{adminId}
          AND ur.id IS NOT NULL AND r.status = 1
    </select>

    <select id="getRoleList" resultType="org.nanguo.lemall.common.entity.UmsRole">
        select r.*
        from ums_admin_role_relation ar
                 left join ums_role r on ar.role_id = r.id
        where ar.admin_id = #{adminId}
    </select>
</mapper>